* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #83b5d1;
  --secondary-color: #dab49d;
  --tertiary-color: rgb(114, 110, 151);
  --tertiary-color-fade: rgba(114, 110, 151, 0.8);
  --first-accent-color: #717744;
  --second-accent-color: #5e3023;
}

body {
  color: var(--second-accent-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

/* header */

header {
  background-color: var(--primary-color);
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: lighter;
  font-size: 70px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

header nav {
  font-size: 36px;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}

header nav ul li a {
  font-weight: bold;
}

header h1 a,
header nav ul li a {
  color: inherit;
}

/* utility classes */

section {
  padding: 60px;
}

/* hero */

.hero {
  background-image: url("../images/josue_hero_portrait.jpg");
  background-size: cover;
  background-position: center;
  height: 50em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

.hero p {
  background-color: var(--secondary-color);
  height: 2em;
  width: 750px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 50px;
}

/* about me */

/* projects */

/* contact me */

.contact-info {
  list-style-type: none;
}

.contact-info li a {
  color: inherit;
}
