* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #83b5d1;
  --secondary-color: #dab49d;
  --tertiary-color: rgb(114, 110, 151);
  --tertiary-color-fade: rgba(114, 110, 151, 0.8);
  --first-accent-color: #717744;
  --second-accent-color: #5e3023;
}

body {
  color: var(--second-accent-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

/* utility classes */

section {
  padding: 30px;
}

.section-title {
  border-bottom: 2px solid var(--first-accent-color);
  color: var(--first-accent-color);
  padding-bottom: 20px;
  font-size: 80px;
  margin-bottom: 40px;
}

/* header */

header {
  background-color: var(--primary-color);
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: lighter;
  font-size: 100px;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

header nav {
  font-size: 50px;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}

header nav ul li a {
  font-weight: bold;
}

header h1 a,
header nav ul li a {
  color: inherit;
}

/* hero */

.hero {
  background-image: url("../images/josue_hero_portrait.jpg");
  background-size: cover;
  background-position: center;
  height: 50em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

.hero p {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  font-size: 50px;
}

/* about me */

.about-me-text p {
  padding: 20px 0 20px 0;
  font-size: 40px;
  line-height: 1.5;
}

/* projects */

.projects-previous {
  display: flex;
  flex-direction: column;
}

.project-most-recent {
  height: 400px;
  margin: 10px 0 10px 0;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}

.project-most-recent h3 {
  font-size: 75px;
}

.project-most-recent h4 {
  font-size: 50px;
  font-style: italic;
}

.small-card-1 {
  background-image: url(../images/digital-marketing-meeting.jpg);
  background-size: cover;
  background-position: 0 80%;
}

.small-card-2 {
  background-image: url(https://pm1.narvii.com/6469/0f7838bb6a0663aa1315726a48f1fd96a0635cc6_hq.jpg);
  background-size: cover;
}

.small-card-3 {
  background-image: url(https://i.redd.it/j7rx9xr4uy771.jpg);
  background-size: cover;
  background-position: 0 20%;
}

.small-card-4 {
  background-image: url(https://logowik.com/content/uploads/images/anker2729.jpg);
  background-size: cover;
  background-position: 0 50%;
}

.projects-previous-cards {
  font-size: 50px;
  height: 200px;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.project-most-recent,
.projects-previous-cards {
  border: 5px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: 10px;
  position: relative;
}

.project-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* contact me */

.contact-info {
  list-style-type: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}

.contact-info li {
  padding: 20px 0 20px 0;
}

.contact-info li a {
  color: inherit;
}
